fastapi
uvicorn[standard]
pydantic
pydantic-settings
 
langgraph
langgraph-checkpoint-sqlite
langchain-core
langchain-ollama
langchain-openai
langchain-google-genai
 
httpx[http2]
beautifulsoup4
ddgs
tavily-python
 
python-dotenv
aiosqlite